/* .itemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
  row-gap: 10rem;
  padding: 10rem;
} */

.itemContainer {
  padding: 10rem;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

/****************ITEMS**************/

.itemCard {
  height: 35rem;
  width: 10rem;
  position: relative;
  border-radius: 10px;
}

.itemCard:hover {
  background-color: #e0ff64;
  color: beige !important;
}

.itemCard img {
  width: 160px;
  position: absolute;
  bottom: 0;
}

.itemTitle {
  position: absolute;
  bottom: 40px;
  width: 10rem;
  background-color: rgba(26, 25, 25, 0.92);
  box-shadow: 41px 10px 90px 92px #1a1919;
  text-align: center;
  font-size: 2rem;
  color: #e0ff64;
}

.itemCard:hover .itemTitle {
  color: beige;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
}

/***************Buttons**********************/
.itemCardButtonContainer {
  position: absolute;
  bottom: -55px;
  left: -22px;
  display: flex;
  justify-content: space-between;
  width: 13rem;
  margin-top: 1.5rem;
}

.itemCardButtonContainer button {
  width: 5.8rem;
  height: 2.5rem;

  background: transparent;
  border: none;
  border-radius: 10px;
  color: rgb(25, 24, 23);
}

.itemCard:hover .itemCardButtonContainer button {
  color: rgb(7, 7, 7);
  background-color: #ddf57c;
  box-shadow: 2px 2px 5px 4px rgb(73, 74, 74);
  /* display: block; */
}

.itemCardButtonContainer button:hover {
  background-color: #71c552 !important;
  color: beige !important;
  font-weight: bolder !important;
}

.itemDeleteButton:active,
.itemDoneButton:active {
  transform: translateY(7px) !important;
}

/* .itemDoneButton:hover + .itemDeleteButton{
  background-color: aquamarine !important;
} */

/************************Task Completed*********************/
.itemDone {
  /* background: rgb(145, 176, 60); */
  box-shadow: 0 8px 32px 5px rgba(161, 193, 81, 0.37);
  border: 1px solid rgb(145, 176, 60);
}

.itemCard:hover .disableDoneButton {
  background-color: rgb(112, 112, 111) !important;
  color: rgb(0, 0, 0) !important;
  font-weight: normal !important;

}
